annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
fastapi==0.141.1
h11==0.16.0
idna==3.20
mapbox-vector-tile==2.2.0
numpy==2.5.3
packaging==26.3
pmtiles==3.8.1
protobuf==6.33.6
pybind11==3.1.0
pyclipper==1.4.0
pydantic==2.13.5
pydantic_core==2.46.5
setuptools==83.0.0
shapely==2.1.2
skia-python==144.0.post2
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.53.0
wheel==0.47.0
